<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bootstrap 4</title>
		
<title>Insert title here</title>
</head>
<body>

	<div class="container">
			<div class="row">
				<div class="col">
<button class="btn btn-info" onclick="replay()">상품리스트</button>&nbsp;<button  onclick="back()" class="btn btn-info">상품등록</button>	<button onclick="goUserList()" class="btn btn-info">유저페이지</button>
<button class="btn btn-info" onclick="QnaList()">QnaList </button>
<button class="btn btn-info" onclick="noticse()">Notice</button>
<button class="btn btn-info" onclick="point()">포인트</button>&nbsp;<button onclick="coupon()" class="btn btn-info" >쿠폰리스트</button>
<button class="btn btn-info" onclick="orders()">오더리스트</button>
<button class="btn btn-info" onclick="addminReviewList()">리뷰리스트</button>&nbsp;<button onclick="addminAboutList()" class="btn btn-info" >about리스트</button>
			</div>
			</div>
		</div>

<script>
function addminAboutList(){
	location.href="/addminAboutList";
}
function addminReviewList(){
	location.href="/addminReviewList";
}
function orders(){
	location.href="/orders";
}
function coupon(){
	location.href="/AddminCouponList";
}
function point(){
	location.href="/pointList";
}
function noticse(){
	location.href="/noticelist";
}
function order(){
	location.href="/orders";
}
function QnaList(){
	location.href="/addqna";
}
function goUserList(){
	location.href="/userlist";
}
function back(){
	location.href="/axios";
}
function related(){
location.href="/relatedProducts";
}
function replay(){
	location.href="/list";
}
</script>
</body>
</html>